<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="ApiBaseUrl" value="https://catstack.net/nfc-api" />
        <add key="DadataApiKey" value="7dc989d2672e9fddc9a4662a88eb325ac021806c" />
        <add key="DadataSecretKey" value="99525954e9378753071498448f535cdc99841bbc" />
    </appSettings>
</configuration>